@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Fredoka:wght@300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

:root {
  --heading: #42445A;
  --para: #42445A;
  --para-tint: #42445A;
  --white: #42445A;
  --helper: #42445A;
  --helper-tint: #42445A;
  --bg: #42445A;
  --gradient: linear-gradient(0deg, #42445A 0%, #4552DE 100%);
  --gradientSupport: -webkit-linear-gradient(0deg, #42445A 0%, #4552DE 100%);
  --shadow: 0rem 0rem 2rem 0rem rgb(132 144 255 / 20%);
}

h1,
h2,
h3,
h4 {
  font-family: 'Bakbak One', cursive;
}

h1 {
  display: flex;

  color: var(--heading);
  font-size: 6rem;
  font-weight: 400;
}

h3 {
  font-size: 1.8rem;

}

p {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */

.header {
  padding: 0 4.8rem;
  height: 6.5rem;
  background-color: #48FF80;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  height: 5rem;
}

.navbar-lists {
  display: flex;
  gap: 2.5rem;
}

.logo {
  border-radius: 50%;
}
